@model List<NguyenLieu>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="container">
        <div class="text-center">
            <h1>Bảng nguyên liệu</h1>
        </div>
        <div class="row justify-content-between">
            <h2 class="col-6 ml-lg-2">Danh sách nguyên liệu</h2>
            <a asp-controller="NguyenLieu" asp-action="Create" class="col-6 btn btn-success">
                Thêm nguyên liệu mới
            </a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Mã nguyên liệu</th>
                    <th>Tên nguyên liệu</th>
                    <th>Ngày sản xuất</th>
                    <th>Ngày hết hạn</th>
                    <th>Ngày nhập</th>
                    <th>Số lượng còn lại</th>
                    <th>Giá nhập</th>
                    <th>Hãng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.MaNguyenLieu</th>
                        <th>@item.TenNguyenLieu</th>
                        <th>@item.NgaySanXuat</th>
                        <th>@item.NgayHetHan</th>
                        <th>@item.NgayNhap</th>
                        <th>@item.SoLuongConLai</th>
                        <th>@item.GiaNhap</th>
                        <th>@item.Hang</th>
                        <th>
                            <a asp-controller="NguyenLieu" asp-action="Update" asp-route-id="@item.MaNguyenLieu" class="btn btn-warning my-1 text-white">
                                Cập nhật
                            </a>
                            <a asp-controller="NguyenLieu" asp-action="Delete" asp-route-id="@item.MaNguyenLieu" class="btn btn-danger my-1 text-white">
                                Xóa
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
