@model List<NhanVien>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <div class="container">
        <div class="text-center">
            <h1>Bảng nhân viên</h1>
        </div>
        <div class="row justify-content-between">
            <h2 class="col-6 ml-lg-2">Danh sách người dùng</h2>
            <a asp-controller="NhanVien" asp-action="Create" class="col-6 btn btn-success">
                Thêm người dùng mới
            </a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Mã người dùng</th>
                    <th>Căn cước công dân</th>
                    <th>Họ tên</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Lương cơ bản</th>
                    <th>Lương theo giờ</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.CanCuocCongDan</th>
                        <th>@item.HoTen</th>
                        <th>@item.DiaChi</th>
                        <th>@item.GioiTinh</th>
                        <th>@item.NgaySinh</th>
                        <th>@item.LuongCoBan</th>
                        <th>@item.LuongTheoGio</th>
                        <th>
                            <a asp-controller="NhanVien" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning my-1 text-white">
                                Cập nhật
                            </a>
                            <a asp-controller="NhanVien" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger my-1 text-white">
                                Xóa
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
